<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>General Info</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>System time</th>
                <td data-content="SystemTime" data-format="JSONDateToString"></td>
            </tr>
            <tr>
                <th>Containers</th>
                <td data-content="Containers"></td>
            </tr>
            <tr>
                <th>Containers Running</th>
                <td data-content="ContainersRunning"></td>
            </tr>
            <tr>
                <th>Containers Paused</th>
                <td data-content="ContainersPaused"></td>
            </tr>
            <tr>
                <th>Containers Stopped</th>
                <td data-content="ContainersStopped"></td>
            </tr>
            <tr>
                <th>Images</th>
                <td data-content="Images"></td>
            </tr>
            <tr>
                <th>Operating System</th>
                <td data-content="OperatingSystem"></td>
            </tr>
            <tr>
                <th>Server Version</th>
                <td data-content="ServerVersion"></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Swarm Info</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Managers</th>
                <td data-content="Swarm.Managers"></td>
            </tr>
            <tr>
                <th>Nodes</th>
                <td data-content="Swarm.Nodes"></td>
            </tr>
            <tr>
                <th>Node Address</th>
                <td data-content="Swarm.NodeAddr"></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->

<!--
    "Containers": 1,
"ContainersRunning": 1,
"ContainersPaused": 0,
"ContainersStopped": 0,
"Images": 250,
-->