<div class="col-sm-3">
    <div class="hero-widget well well-lg">
        <div class="icon">
            <i data-class="class" class="glyphicon"></i>
        </div>
        <div class="text">
            <span data-content="name" class="value">service</span>
            <label data-content="message" class="text-muted">Redis Message</label>
            <br />
            <label class="text-muted">Status:&nbsp;</label><label data-content="status" class="text-muted"></label>
        </div>
    </div>
</div>