<tr>
    <td data-content="id"></td>
    <td data-content="name"></td>
    <td data-content="owner"></td>
    <td>Nodes: <span data-content="nodes"></span>, Edges: <span data-content="edges"></span>
        <!-- Button trigger modal -->
        <button data-template-bind='[
                {"attribute": "data-target", "value": "id", "formatter": "WorkflowModal", "formatOptions": "#"}
            ]' 
            class="btn btn-primary btn-sm" data-toggle="modal">
            graph
        </button>
    </td>
    <td data-content="created"></td>
    <td data-content="status"></td>
    <td data-content="state"></td>
    <td>
        <button 
            data-template-bind='[
                {"attribute": "id", "value": "id", "formatter": "WorkflowDeleteButton"}
            ]'
            type="button" class="btn btn-danger btn-circle"><i class="fa fa-stop"></i></button>
    </td>
</tr>