<!-- Modal -->
<div data-template-bind='[
                {"attribute": "id", "value": "id", "formatter": "WorkflowModal"}
            ]' 
    class="modal fade" tabindex="-1" role="dialog">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 data-content="name" class="modal-title"></h4>
            </div>
            
            <div data-template-bind='[
                    {"attribute": "id", "value": "id", "formatter": "WorkflowGraph"}
                ]' 
                style="width: 500px; height: 450px;" class="modal-body">
            </div>

            <div class="modal-footer" style="margin:50px 0px 0px 0px">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->