<app-bs-panel title="Workflow Utilities">
  <div class="row">
      <div class="col-md-2">
          <button (click)="createTestFlow()" class="btn btn-primary">Create test-flow</button>
      </div>
      <div class="col-md-5">
          <div class="form-group">
              <label>Upload workflow script</label>
              <input (change)="fileChanged($event)" type="file" class="form-control">
          </div>    
      </div>
      <div class="pull-right" style="margin-right: 10px;">
          <button (click)="deleteAllWorkflows()" class="btn btn-danger">Delete all workflows</button>
      </div>
  </div>
</app-bs-panel>

<app-bs-panel title="Running Workflows">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>created</th>
                <th>id</th>
                <th>name</th>
                <th>owner</th>
                <th>info</th>
                <th>status</th>
                <th>todo</th>
                <th>busy</th>
                <th>done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let workflow of workflows'>
                <td>{{workflow.created | date:'d-M-y, H:mm:ss'}}</td>
                <td>{{workflow.id}}</td>
                <td>{{workflow.name}}</td>
                <td>{{workflow.owner}}</td>
                <td><button class="btn btn-xs btn-info" (click)="graphModal.open()">Show Graph</button></td>
                <td>{{workflow.status}}</td>
                <td>{{workflow.todo_nodes.length}}</td>
                <td>{{workflow.busy_nodes.length}}</td>
                <td>{{workflow.done_nodes.length}}</td>
                <td><button (click)="deleteWorkflow(workflow.id)" class="btn btn-danger btn-xs">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <!-- <pre>{{workflows | json}}</pre> -->
</app-bs-panel>


<modal #graphModal title="{{selectedWorkflow.name}}" cancelButtonLabel="Close" modalClass="modal-lg" (onOpen)="showGraph($event)">
    <modal-content>
        <div id="cy"style="width: 500px; height: 450px;"></div>
        <pre>{{selectedWorkflow | json}}</pre>
    </modal-content>
</modal>
