<app-bs-panel title="Running Containers">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>image</th>
                <th>state</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let container of containers'>
                <td>{{container.Image}}</td>
                <td>{{container.State}}</td>
                <td>{{container.Status}}</td>
            </tr>
        </tbody>
    </table>

    <ng-content></ng-content>
</app-bs-panel>